<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/element-ui-index.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

    <link rel="stylesheet" href="/static/css/style.css">
    <!--以下引用标签顺序不能变-->
    <!-- 1. browser.min.jsr.js 转换ES6语法 -->
    <script src="/static/js/browser.min.js"></script>
    <!-- 2. 先引入 Vue -->
    <script src="/static/js/vue.min.js"></script>
    <!-- 3. 引入组件库 -->
    <script src="/static/js/element-ui-index.min.js"></script>
    <!-- 4. 引入HTTP 请求客户端 -->
    <script src="/static/js/axios.min.js"></script>


</head>
<body>

<div id="main">
    <!--top-->
    <el-row :span="24" class="top">
        <el-col :span="4" class="logo-container">
            <p>财务结算系统</p>
        </el-col>

        <el-col :span="20" class="header">
            <el-dropdown trigger="hover" class="userinfo">
                <div class="el-dropdown-link">
                    <span><<.user>></span>
                    <img src="/static/img/user.png" alt="用户头像">
                </div>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>个人设置</el-dropdown-item>
                    <el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-col>

    </el-row>

    <!--container-->
    <el-row class="container">
        <el-col :span="4" class="left-menu">
            <el-menu :default-active="defaultActive" style="min-height: 100%;" theme="dark" router>
                <!--<el-submenu index="2">-->
                    <!--<template slot="title"><i class="el-icon-document"></i>账户管理</template>-->
                    <!--<a href="#"><el-menu-item index="userList">权限管理</el-menu-item></a>-->
                    <!--<a href="#"><el-menu-item index="shopList">角色管理</el-menu-item></a>-->
                        <!--<a href="#"> <el-menu-item index="foodList">账号管理</el-menu-item></a>-->
                <!--</el-submenu>-->
                <!--渲染菜单-->
                <<range $menu := .menus>>
                     <a href="<<$menu.Url>>"><el-menu-item index="<<$menu.Index>>"><i class="<<$menu.Clazz>>"></i><<$menu.Name>></el-menu-item></a>
                <<end>>

            </el-menu>
        </el-col>

        <el-col :span="20" class="left-container">
            <!--<p>右侧容器</p>-->
            <el-row :span="24" class="content">
                <p>右侧内容</p>
            </el-row>
            <el-row :span="24" class="footer">
                <p>www.gumpcome.com</p>
            </el-row>
        </el-col>
    </el-row>


</div>


</body>
<script src="/static/js/home.js"></script>


</html>