/* 头部 */
.top {
    background: #d4d7dc;
    height: 50px;
}
/* logo */
.logo-container {
    height: 100%;
    text-align: center;
    font-size: large;
    color: rgb(50, 64, 87);
}

/* header */
.header {
    height: 100%;
}

.userinfo {
    float: right;
    margin: 6px 35px;
}

.userinfo img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    vertical-align: middle;
}

.userinfo span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}


/* 中间容器 */
.container {
    height: 655px;
}


/* 左侧菜单 */
.left-menu {
    background-color: rgb(50, 64, 87);
    height: 100%;
    padding-right: -10px;
}

.el-menu a {
    text-decoration: none;
}



/* 右侧容器 */

.left-container {
    height: 100%;
}


/* 右侧内容 */
.content {
    background: #ffffff;
    height: 95%;
}

/* 底部 start */
.footer {
    text-align: center;
    height: 5%;
    background: #FAFAFA;
}
.footer > p {
    margin-top: 6px;
    color: #8c939d;
}

/* 底部 end */

